table {
	border: 1px solid #dddddd;
	font-family: Arial, sans-serif;
	color: #000000;
	border-collapse: collapse;
}
th {
	border: 1px solid #aaaaaa;
	padding: 10px;
	padding-right: 30px;
	background-color: #dddddd;
}

td {
	border: 1px solid #dddddd;
	padding: 10px;
	padding-right: 30px;
}
