body {
	margin: 0;
	padding: 0;
}

.group {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 100vh;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 8fr;
}

.link {
	border: 1px solid green;
	background-color: #ffffed;
	border-width: thick;
	padding-right: 20px;
	padding-bottom: 20px;
}


.sidebar {
	background-color: #f25e30;
}

.content {
	background-color: #4f4542;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 20% 20% 20% 30%;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	padding: 10px;
}

.product {
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}
